{% extends 'base.html' %}
{% load static %}

{% block title %}Traffic E-Challan System : Register{% endblock %}

{% block body %}
<div class="container-fluid  flex-grow-1 flex-shrink-0 ">
<div class="container register-space bg-white">
    <div class="text-center h4">Register</div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="{{ form.first_name.id_for_label }}">First Name</label>
            <input type="text" class="form-control" id="{{ form.first_name.id_for_label }}" placeholder="First Name" {% if form.first_name.value %} value="{{ form.first_name.value }}" {% endif %} name="{{ form.first_name.name }}" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="{{ form.last_name.id_for_label }}">Last Name</label>
            <input type="text" class="form-control" id="{{ form.last_name.id_for_label }}" placeholder="Last Name" {% if form.last_name.value %} value="{{ form.last_name.value }}" {% endif %} name="{{ form.last_name.name }}" required>
          </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="{{ form.username.id_for_label }}">Username</label>
                <input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="{{ form.username.id_for_label }}" placeholder="Username" {% if form.username.value %} value="{{ form.username.value }}" {% endif %} name="{{ form.username.name }}" required>
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="{{ form.email.id_for_label }}">Email</label>
                <input type="email" class="form-control" id="{{ form.email.id_for_label }}" placeholder="Email" {% if form.email.value %} value="{{ form.email.value }}" {% endif %} name="{{ form.email.name }}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="{{ form.password1.id_for_label }}">Password</label>
                <input type="password" class="form-control {% if form.password2.errors %}is-invalid{% endif %}" id="{{ form.password1.id_for_label }}" placeholder="Password" {% if form.password1.value %} value="{{ form.password1.value }}" {% endif %} name="{{ form.password1.name }}" required>
                <div class="invalid-feedback">
                    {{ form.password2.errors }}
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                <input type="password" class="form-control {% if form.password2.errors %}is-invalid{% endif %}" id="{{ form.password2.id_for_label }}" placeholder="Confirm Password" {% if form.password2.value %} value="{{ form.password2.value }}" {% endif %} name="{{ form.password2.name }}" required>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
      </form>
      <br>
        Already Having Account? <a href="/">Login</a>
</div>
</div>
{% endblock %}
